name: Release
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: SetUp Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: |
        npm ci
        npm i -g semantic-release
        npm i -g codeclimate-test-reporter
    - name: Test & Cover
      run: npm run cover
    - name: Build
      run: npm run build --if-present
    - name: CodeClimate
      run: codeclimate-test-reporter < coverage/lcov.info
    - name: Semantic Release
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: semantic-release
